<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/Login-Form-Dark.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="login-dark">
      <div class="table-responsive">
        <br>
        <caption><center><h3 style="color:#ffffff">Schedule</h3></center></caption>
        <table class="table" border="5">
          <thead>
            <tr>
              <th style="color:#ffffff">Id</th>
              <th style="color:#ffffff">Airline</th>
              <th style="color:#ffffff">Destination</th>
              <th style="color:#ffffff">Availability</th>
              <th style="color:#ffffff">Cost</th>
            </tr>
          </thead>
          <tbody>
            <%for(var i=0;i < result.length; i++){%>
                <tr>
                  <td style="color:#ffffff"><%=JSON.stringify(result[i].flight_id)%></td>
                  <td style="color:#ffffff"><%=JSON.stringify(result[i].airline)%></td>
                  <td style="color:#ffffff"><%=JSON.stringify(result[i].destination)%></td>
                  <td style="color:#ffffff"><%=JSON.stringify(result[i].availibility)%></td>
                  <td style="color:#ffffff"><%=JSON.stringify(result[i].fare)%></td>
                </tr>
            <%}%>
          </tbody>
        </table>
      </div>
      <form
        method="post"
        action="/admin/addbooking"
        style="margin:0px;padding:48px;height:427px;"
      >
        <h1 class="text-center text-primary">Booking</h1>
        <input
          class="form-control form-control-lg"
          type="text"
          name="flight_id"
          placeholder="Flight ID"
        /><input
          class="form-control form-control-lg"
          type="text"
          name="name"
          placeholder="Name"
        /><input
          class="form-control form-control-lg"
          type="text"
          name="age"
          placeholder="Age"
        />
        <input
          class="form-control form-control-lg"
          type="text"
          name="phone"
          placeholder="Phone No."
        />
        <div class="form-group">
          <button class="btn btn-primary btn-block btn-lg" type="submit">
            Book Ticket
          </button>
        </div>
      </form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
