<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CancelBooking</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/Login-Form-Dark.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="login-dark">
      <div class="table-responsive">
        <caption><center><h3 style="color:#ffffff">Bookings</h3></center></caption>
        <table class="table" border="5">
          <thead>
            <tr>
              <th style="color:#ffffff">Booking Id</th>
              <th style="color:#ffffff">Flight Id</th>
              <th style="color:#ffffff">Name</th>
              <th style="color:#ffffff">Age</th>
              <th style="color:#ffffff">Cost</th>
              <th style="color:#ffffff">Phone</th>
            </tr>
          </thead>
          <tbody>
            <%for(var i=0; i< bookings.length;i++){%>
              <tr>
                <td style="color:#ffffff"><%=bookings[i].booking_id%></td>
                <td style="color:#ffffff"><%=bookings[i].flight_id%></td>
                <td style="color:#ffffff"><%=bookings[i].name%></td>
                <td style="color:#ffffff"><%=bookings[i].age%></td>
                <td style="color:#ffffff"><%=bookings[i].cost%></td>
                <td style="color:#ffffff"><%=bookings[i].phone%></td>
              </tr>
              <%}%>
          </tbody>
        </table>
      </div>
      <form
        method="post"
        action="admin/cancelbooking"
        style="margin:0px;padding:48px;height:427px;"
        id="form"
      >
        <h1 class="text-center text-primary">Cancel Booking</h1>
        <input
          class="form-control form-control-lg"
          type="text"
          name="booking_id"
          placeholder="Booking ID"
        />
        <div class="form-group">
          <button class="btn btn-primary btn-block btn-lg" type="submit">
            Cancel
          </button>
        </div>
      </form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/delbooking.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
