<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                   integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                   integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                   crossorigin="anonymous"></script> -->

    <title>Show details</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/Login-Form-Dark.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="login-dark">
        <div class="table-responsive">
          <% if(access == 1){ %>
            <caption><h3 style="color:#ffa500">Pilots</h3></caption>
            <table class="table" border="5" width="40" cellspacing=10 >
              <thead>
                <tr>
                  <th style="color:#ffa500">Name</th>
                  <th style="color:#ffa500">Age</th>
                </tr>
              </thead>
              <tbody>
                <%for(var i=0;i < view.pilots.length; i++){%>
                <tr>
                  <td style="color:#ffa500"><%=JSON.stringify(view.pilots[i].name)%></td>
                  <td style="color:#ffa500"><%=JSON.stringify(view.pilots[i].age)%></td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <br>
            <caption><h3 style="color:#ffa500">Crew</h3></caption>
            <table class="table" border="5" width="40" cellspacing=10 >
              <thead>
                <tr>
                  <th style="color:#ffa500">Name</th>
                  <th style="color:#ffa500">Age</th>
                </tr>
              </thead>
              <tbody>
                <%for(var i=0;i < view.crew.length; i++){%>
                <tr>
                  <td style="color:#ffa500"><%=JSON.stringify(view.crew[i].name)%></td>
                  <td style="color:#ffa500"><%=JSON.stringify(view.crew[i].age)%></td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <br>
            <caption><h3 style="color:#ffa500">Ground Staff</h3></caption>
            <table class="table" border="5" width="40" cellspacing=10 >
              <thead>
                <tr>
                  <th style="color:#ffa500">Name</th>
                  <th style="color:#ffa500">Age</th>
                  <th style="color:#ffa500">Work</th>
                </tr>
              </thead>
              <tbody>
                <%for(var i=0;i < view.staff.length; i++){%>
                <tr>
                  <td style="color:#ffa500"><%=JSON.stringify(view.staff[i].name)%></td>
                  <td style="color:#ffa500"><%=JSON.stringify(view.staff[i].age)%></td>
                  <td style="color:#ffa500"><%=JSON.stringify(view.staff[i].work)%></td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <% } %>
            <% if(access == 2){ %>
              <caption><h3 style="color:#ffa500">Pilots</h3></caption>
              <table class="table" border="5" width="40" cellspacing=10 >
                <thead>
                  <tr>
                    <th style="color:#ffa500">Id</th>
                    <th style="color:#ffa500">Name</th>
                    <th style="color:#ffa500">Age</th>
                    <th style="color:#ffa500">Salary</th>
                    <th style="color:#ffa500">Airline</th>
                  </tr>
                </thead>
                <tbody>
                  <%for(var i=0;i < view.pilots.length; i++){%>
                  <tr>
                    <td style="color:#ffa500"><%=JSON.stringify(view.pilots[i].pilot_id)%></td>
                    <td style="color:#ffa500"><%=JSON.stringify(view.pilots[i].name)%></td>
                    <td style="color:#ffa500"><%=JSON.stringify(view.pilots[i].age)%></td>
                    <td style="color:#ffa500"><%=JSON.stringify(view.pilots[i].salary)%></td>
                    <td style="color:#ffa500"><%=JSON.stringify(view.pilots[i].airline)%></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
              <br>
              <caption><h3 style="color:#ffa500">Crew</h3></caption>
              <table class="table" border="5" width="40" cellspacing=10 >
                <thead>
                  <tr>
                    <th style="color:#ffa500">Id</th>
                    <th style="color:#ffa500">Name</th>
                    <th style="color:#ffa500">Age</th>
                    <th style="color:#ffa500">Salary</th>
                    <th style="color:#ffa500">Airline</th>
                  </tr>
                </thead>
                <tbody>
                  <%for(var i=0;i < view.crew.length; i++){%>
                  <tr>
                    <td style="color:#ffa500"><%=JSON.stringify(view.crew[i].crew_id)%></td>
                    <td style="color:#ffa500"><%=JSON.stringify(view.crew[i].name)%></td>
                    <td style="color:#ffa500"><%=JSON.stringify(view.crew[i].age)%></td>
                    <td style="color:#ffa500"><%=JSON.stringify(view.crew[i].salary)%></td>
                    <td style="color:#ffa500"><%=JSON.stringify(view.crew[i].airline)%></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
              <br>
              <caption><h3 style="color:#ffa500">Ground Staff</h3></caption>
              <table class="table" border="5" width="40" cellspacing=10 >
                <thead>
                  <tr>
                    <th style="color:#ffa500">Id</th>
                    <th style="color:#ffa500">Name</th>
                    <th style="color:#ffa500">Work</th>
                    <th style="color:#ffa500">Age</th>
                    <th style="color:#ffa500">Salary</th>
                    <th style="color:#ffa500">Airline</th>
                  </tr>
                </thead>
                <tbody>
                  <%for(var i=0;i < view.staff.length; i++){%>
                  <tr>
                    <td style="color:#ffa500"><%=JSON.stringify(view.staff[i].staff_id)%></td>
                    <td style="color:#ffa500"><%=JSON.stringify(view.staff[i].name)%></td>
                    <td style="color:#ffa500"><%=JSON.stringify(view.staff[i].work)%></td>
                    <td style="color:#ffa500"><%=JSON.stringify(view.staff[i].age)%></td>
                    <td style="color:#ffa500"><%=JSON.stringify(view.staff[i].salary)%></td>
                    <td style="color:#ffa500"><%=JSON.stringify(view.staff[i].airline)%></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
              <% } %>
        </div>
      </form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
